body {
    background-color: #5D50DE; /* 设置背景颜色为#7E72E9 */
    color: rgb(255, 255, 255); /* 设置文字颜色为白色 */
    margin: 0; /* 移除默认的页面边距 */
    padding: 0; /* 移除默认的内边距 */
}

.header {
    background-color: #544c9c; /* 设置背景颜色为#7E72E9 */
    padding: 10px; /* 添加一些内边距，以使内容更加美观 */
    display: flex; /* 使用弹性布局 */
    align-items: center; /* 垂直居中对齐 */
    width: 100%; /* 100%宽度 */
}

.header img {
    width: 64px; /* 设置图标的宽度 */
    height: 60px; /* 设置图标的高度 */
    margin-right: 10px; /* 添加一些右侧间距，以分隔图标和标题 */
}

.header h1 {
    font-family: 'Bradley Hand', sans-serif;
    margin: 0; /* 移除标题的默认外边距 */
}

.header a {
    text-decoration: none; /* 去掉下划线 */
    color: white; /* 设置链接文本颜色为白色 */
  }
  

h1 {
    font-family: 'Mooli-Regular', sans-serif;
    font-size: 3.2rem;
    text-align: left; /* 文本居中对齐 */
    margin-left: 20%;
}

h2 {
    font-family: 'Rockwell', sans-serif;
    font-size: 2.4rem;
    margin-left: 10%;
    text-shadow: 1px 1px #4b3f72;
}

h3 {
    font-family: 'Rockwell', sans-serif;
    font-size: 1.8rem;
    text-shadow: 1px 1px #4b3f72;
}

p {
    font-family: 'Marker Felt', sans-serif;
    font-size: 1.6rem;
    text-shadow: 1px 1px #4b3f72;
    font-weight: 400;
}




form {
    font-family: 'Rockwell', sans-serif;
    font-size: 1.6rem;
    margin-top: 10vh; /* 将form置于页面顶部的三分之二处 */
    text-align: center; /* 文本居中对齐 */
}

footer {
    background-color: #333; /* 页脚背景颜色 */
    color: #fff; /* 文字颜色 */
    padding: 10px 0; /* 上下内边距 */
    justify-content: space-between; /* 左右分布 */
    bottom: 0; /* 位于底部 */
    width: 100%; /* 100%宽度 */
    display: flex;
    justify-content: space-between; 
}

.footer-left {
    order: 1; /* 调整左侧链接的显示顺序 */
  }
  
  .footer-right {
    order: 2; /* 调整右侧链接的显示顺序 */
  }

.footer-left a,
.footer-right a {
    color: #fff; /* 链接文字颜色 */
    text-decoration: none; /* 去掉下划线 */
}

.container {
    display: grid;
    grid-template-columns: 2fr 4fr; /* 调整列的比例 */
    column-gap: 20px; /* 可以根据需要调整列之间的间距 */
}

.image {
    width: 300px; /* 设置图片宽度 */
    grid-column: 1; /* 控制图片位于第一列 */
    justify-self: right; /* 图片水平居中 */
}

h2 {
    grid-column: 2; /* 控制标题位于第二列 */
}

p {
    grid-column: 2; 
}

.features{
    font-family: 'Rockwell', sans-serif;
    font-size: 1.2rem;
    width: 60%;
    margin: 0 auto; /* 水平居中 */
    text-align: left; /* 文本居中对齐 */
    font-weight: 400;
  }